/* 플로팅 배너 */
.floating-banner {
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    width: 85px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
/* 이미지 영역 */
.floating-container {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;
    flex-direction: column;
    border-bottom: 1px solid #ececff;
    cursor: pointer;
    
}

.floating-container img {
    transition: opacity 0.3s ease-in-out;
}

.floating-container:nth-child(3):hover img {
    content: url("/img/floating/카톡상담_pc_01.png");
}

.floating-container:nth-child(4):hover img {
    content: url("/img/floating/전화_pc_01.png");
}

.floating-container p{
    color: #656565;

}

.floating-container:hover p{
    color: #07c21f;
}
/* 위로 가기 버튼 */
.floating-button {
    margin-top: 10px;
    width: 80px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.9);
    color: #656565;
    border: none;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: bold;
}
.floating-button:hover {
    color: #07c21f;
}

.floating-button span{

}

.Consultation__inquiry{
    width: 100%;
    border-bottom: 1px solid #ececff;
}

.Consultation__inquiry p{
    margin-bottom: 5px;
    font-weight: bold;
    color: #656565;
}


/* 기본 스타일 */
.floating-button .arrow-img {
    display: inline-block;
    width: 24px; height: 24px;
    background-image: url("/img/floating/화살표_pc.png");
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
  }
  

/*   @media (max-width: 767px) {
    .floating-button:hover .arrow-img {
      background-image: url("/img/floating/화살표_m.png");
    }
  

    .floating-button:active .arrow-img {
      background-image: url("/img/floating/화살표_m.png");
    }
  } */

@media screen and (max-width: 768px) {
    .floating-banner{
        position: fixed;
        top: 95%;
        transform: translateY(-50%);
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: space-around;
        align-items: center;
        z-index: 10;
        flex-direction: row;
        right: 0;
        padding: 0;
        border-radius: 0;
        background: linear-gradient(to bottom, #07c21f, #00798f); /* 위쪽에서 아래쪽으로 그라데이션 */
    }

    .floating-container{
        width: 85%;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        font-weight: bold;
        overflow: hidden;
        flex-direction: column;
        border-bottom: none;
        cursor: pointer;
        border-right: 1px solid gray;
    }

    .floating-button{
    margin-top: 10px;
    width: 55%;
    height: 100%;
    background-color: inherit;
    color: #656565;
    border: none;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: bold;
    }

    .Consultation__inquiry{
        border-bottom: none;
        width: 70%;
    }

    .floating-container a{
        display: flex;
        align-items: center;
    }

    .floating-container p {
        margin-left: 5px;
        color: #ffffff;
    }



/*     .Consultation__inquiry p{
        font-size: 20px;
        color: #ffffff;
        display: none;
    }
 */

    .Consultation__inquiry {
        display: none;
    }
    .floating-button{
        color: #ffffff;
    }

    .separator {
        height: 20px; /* 세로선 길이 */
        width: 1px;
        background-color: rgba(255, 255, 255, 0.5); /* 연한 흰색 테두리 */
        margin: 0 10px;
        display: none;
    }
    
}