footer{
    width: 100%; 
    background-color: #f9f9fb;
    margin-top: 100px;
}

.footer-container{
    width: 100%; 
    height: 200px;  
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-top ul{
    display: flex;
    flex-direction: column;
}

.footer-top ul li{
    list-style: none;
    display: flex;
    justify-content: center;
}

.footer-top ul li:nth-child(1){
    margin-bottom: 10px;
}

.footer-top ul li:nth-child(3){
    margin-top: 5px;
}


@media (max-width:768px){
    .footer-top{
        padding: 0 20px 0 20px;
    }

    .footer-top ul{
        font-size: 13px;
    }


    
}


@media (max-width:680px){

    .footer-top ul{
        font-size: 12px;
    }
    
}

@media (max-width:580px){

    .footer-top ul li:nth-child(1) {
        order: 2;
        margin-bottom: 0px;
        margin-top: 15px;
    }

    .footer-top ul li:nth-child(2) {
        order: 1;
        
    }

    .footer-top ul li:nth-child(3) {
        order: 3;
        margin-top: 15px;
    }

    .footer-top ul li:nth-child(4) {
        order: 4;
        margin-top: 15px;
    }

    .footer-container{
        height: 300px;
    }

    .footer-top ul li{
        display: block;
    } 

    .divider{
        background-color: #f9f9fb;
    }
}

@media (max-width:480px){

    .footer-top ul{
        font-size: 11px;
    }
    
}

