#hospital{
    margin-top: 45px;
}

.hospital-area{
    text-align: left;
}

.hospital-container{
    width: 100%; 
    text-align: center; 
}

.hospital__bottom{
    width: 100%;
    margin-top: 35px;
}

.hospital__bottom ul{
    list-style: none;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
}

.hospital__bottom ul li {
    display: flex;
    width: 250px;
    height: 200px;
    align-items: center;
    justify-content: center;
    margin: 10px;
    border-radius: 20px;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.3s ease-in-out;
}

/* 마우스 오버 효과 */
.hospital__bottom ul li:hover {
    box-shadow: 
        inset 4px 4px 10px rgba(255, 255, 255, 0.6),  
        inset -4px -4px 10px rgba(0, 0, 0, 0.2),  
        5px 5px 15px rgba(0, 0, 0, 0.3);
    transform: scale(1.05); /* 마우스 오버 시 살짝 확대 */
    filter: brightness(1.2); /* 밝기 증가 */
}

/*메인 이미지 순서대로*/
.hospital__bottom li:nth-child(1){
    background-image: url(/img/LaserBotoxFiller/썸네일_오라클피부과_청담.jpg);
}

.hospital__bottom li:nth-child(2){
    background-image: url(/img/LaserBotoxFiller/썸네일_압구정오라클.jpg);
}

.hospital__bottom li:nth-child(3){
    background-image: url(/img/LaserBotoxFiller/썸네일_톡스앤필_강남본점.jpg);
}

.hospital__bottom li:nth-child(4){
    background-image: url(/img/LaserBotoxFiller/썸네일_연세더셀피부과.jpg);
}

.hospital__bottom li:nth-child(5){
    background-image: url(/img/LaserBotoxFiller/썸네일_아이디피부과.jpg);
}

.hospital__bottom li:nth-child(6){
    background-image: url(/img/LaserBotoxFiller/썸네일_바노바기\ 피부과.jpg);
}

.hospital__bottom li:nth-child(7){
    background-image: url(/img/LaserBotoxFiller/썸네일_리더스피부과\ 압구정점.jpg);
}

.hospital__bottom li:nth-child(8){
    background-image: url(/img/LaserBotoxFiller/썸네일_리더스피부과_청담도산대로점.jpg);
}

.hospital__bottom li:nth-child(9){
    background-image: url(/img/LaserBotoxFiller/썸네일_닥터스피부과_신사본점.jpg);
}

.hospital__bottom li:nth-child(10){
    background-image: url(/img/LaserBotoxFiller/썸네일_V&MJ피부과.jpg);
}

.hospital__bottom li:nth-child(11){
    background-image: url(/img/LaserBotoxFiller/썸네일_DR피부과.jpg);
}

.hospital__bottom li:nth-child(12){
    background-image: url(/img/LaserBotoxFiller/썸네일_BLS의원_강남.jpg);
}


.hospital__bottom li a{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration-line: none;
    color: #000000;
}

.hospital__list{
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 24%; */
    /* margin-top: 90px; */
    font-size: 18px;
    font-weight: bold;
    flex-wrap: wrap;
    position: absolute;
    bottom: 20px;
    /* margin: 0 auto; */
    width: 100%;
}

.hospital__list span{
    width: 100%;
    color: #ffffff;
}



.nav-cont{
    
}

.nav-cont ul{
    text-align: left;
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    'a b c d e f g'
    'a h i j k l m';
}

.nav-cont li{
    margin-top: 15px;
    width: 100%;
}


.nav1{
    grid-area: a;
}
.nav2{
    grid-area: b;
}
.nav3{
    grid-area: c;
}
.nav4{
    grid-area: d;
}
.nav5{
    grid-area: e;
}
.nav6{
    grid-area: f;
}
.nav7{
    grid-area: g;
}
.nav8{
    grid-area: h;
}
.nav9{
    grid-area: i;
}
.nav10{
    grid-area: j;
}
.nav11{
    grid-area: k;
}
.nav12{
    grid-area: l;
}
.nav13{
    grid-area: m;
}
