
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    padding: 12px;
    text-align: center;
}
th {
    background-color: #f4f4f4;
    font-weight: bold;
    border-bottom: 2px solid #ddd;
}
td {
    border-bottom: 1px solid #eee;
}
input, button {
    margin-top: 10px;
    padding: 8px;
}
.pagination {
    margin-top: 10px;
    text-align: center;
}
.pagination button {
    margin: 2px;
    padding: 5px 10px;
    border: none;
    background-color: #f4f4f4;
    cursor: pointer;
}
.pagination button:hover {
    background-color: #ddd;
}
.pagination button.active {
    font-weight: bold;
    background-color: #ccc;
}

.bottom__img{
    margin-top: 100px;
}

.bottom__img img{
    width: 100%;
}

.section-container thead{
    width: 100%;
}

.section-container tbody{
    width: 100%;
}

.section-container thead th:nth-child(1){
    width: 25%;
    text-align: left;
}

.section-container thead th:nth-child(2){
    width: 50%;
}


.section-container thead th:nth-child(3){
    width: 25%;
    text-align: right;
}

.section-container tbody td:nth-child(1){
    width: 25%;
    text-align: left;
}

.section-container tbody td:nth-child(3){
    width: 25%;
    text-align: right;
}


.table__body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    flex-direction: column;
}

.list__btn{
    cursor: pointer;
    width: 50px;
    height: 30px;
    border-radius: 20px;
    text-align: center;
/*     margin: 10px auto; */
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid silver;
}

@media (max-width:1280px){
    .bottom__img img{
        background-image: url(/img/CompanyInfo/2502_의료관광홈페이지_소개배너_T_1024x300.jpg);
    }
}

@media (max-width:768px){
    .bottom__img img{
        background-image: url(/img/CompanyInfo/2502_의료관광홈페이지_소개배너_M_768x300.jpg);
    }

        .list__btn{
        margin-left: 5px;
    }



}

@media (max-width:480px){
    .table__body{
        margin: 10px 10px;
    }

    .list__btn{
        margin-left: 5px;
    }
}