*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: #000000;
}

ul li{
    list-style: none;
}

#wrap{
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
    height: auto;
    min-height: 100%;
    padding-bottom: 200px;
}
header{
    width: 100%;
}

section{
    width: 100%;
}

.divider{
    width: 1px;
    height: 20px;
    background-color: #e3e7ee;
    margin: 0 10px 0 10px;
}

.divider2{
    width: 1px;
    height: 18px;
    background-color: #e3e7ee;
    margin: 0 10px 0 10px;
}

@media (max-width:768px){


    #wrap{
        padding-bottom: 0;
    }
}


@media (max-width:580px){


    
}